// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  .product {
    text-align: center;
    margin-bottom: 20px;
    img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    a {
      display: block;
      text-align: center;
      &.add_to_cart {
        border: 1px solid #2358b2;
        background-color: #488DB2;
        color: #FFFFFF;
        padding: 5px 0;
        text-decoration: none;
        &:hover {
          background-color: #2358b2;
        }
      }
    }
    .price {
      background-color: greenyellow;
      font-weight: bold;
    }
  }
}
.pagination {
  clear: both;
}